*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.env
.bsp

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea

# Spark
metastore_db/
spark-warehouse/

# Metals
.metals/
project/metals.sbt

# Bloop
.bloop/

#DS_Store (mac)
.DS_Store

# GRPC
grpc_health_probe
